img.game,
picture.game,
picture.game > img {
  background: #292b2d;
  width: 100px;
  height: 56px;
}
img.game.md,
picture.game.md,
picture.game.md > img {
  width: 200px;
  height: 112px;
}
img.game.xs,
picture.game.xs,
picture.game.xs > img {
  width: 72px;
  height: 40px;
}

.tag.platform.ps5 {
  color: #1b5c9e !important;
  background: #ffffff !important;
  /* outline: 1px solid #1b5c9e; */
  box-shadow: 0 0 0 1px #1b5c9e inset !important; 
  font-weight: bold;
}
